<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="body-wrapper">
      <header>
        <% include ../partials/header.ejs %>
      </header>
      <nav>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Log Out">
        </form>
      </nav>
      <main>
        <ul>
          <li><%=thisEntry.studentID; %></li>
          <li><%=thisEntry.rotation; %></li>
          <li><%=thisEntry.skill; %></li>
          <li><%=thisEntry.levelOfControl; %></li>
          <li><%=thisEntry.preceptor; %></li>
        </ul>
        <div class="edit-delete">
            <form action="/student/<%=thisEntry.id; %>/edit" method="get">
              <input type="submit" value="Edit" />
            </form>
            <form action="/student/<%=thisEntry.id; %>?_method=DELETE" method="POST">
              <input type="submit" value="Delete" />
            </form>
        </div>
      </main>
    </div>
  </body>
</html>
